fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq
chromadb
sentence-transformers
pypdf
requests
beautifulsoup4
reportlab
playwright
